/* Contenedor principal */
.home-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: calc(100vh - 70px); /* Consistente con search.css */
    padding: 20px;
    overflow-y: auto;
    font-family: 'Arial', sans-serif;
}

/* Top Plans */
.top-plans {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.see-more-btn {
    background-color: #fff;
    color: #a43d4e;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.see-more-btn:hover {
    background-color: #892e3e;
    color: #fff;
}

/* Botón de filtros */
.filters-container {
    text-align: center;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #fff;
    color: #a43d4e;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* Lista de Experiencias */
.experience-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilos actualizados para las tarjetas de experiencia */
.experience-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    gap: 20px;
    border: 2px solid #a43d4e;
}

/* Imagen principal de la bodega */
.experience-image {
    flex: 0 0 25%;
    border-radius: 10px;
    height: 230px;
    object-fit: cover;
}

/* Contenedor de información de la experiencia */
.experience-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Nombre de la experiencia */
.experience-name {
    font-size: 1.5rem;
    color: #a43d4e;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Ubicación y precios */
.experience-location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    color: #666;
    font-weight: bold;
}

/* Descripción */
.experience-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-top: 10px;
}

/* Rating de la experiencia */
.experience-rating {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #a43d4e;
    font-weight: bold;
    gap: 5px;
    margin-top: 5px;
}

/* Iconos con servicios */
.experience-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.icon-item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    gap: 5px;
}